<form action="/todos/{{{todo.id}}}/edit?_method=PUT" method="post">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" {{#if todo.done}}checked{{/if}} name="done">
            </div>
        </div>
        <input type="text" class="form-control" name="name" value="{{{todo.name}}}">
        <div class="input-group-append">
            <button type="submit" class="btn  btn-success">edit</button>
        </div>
    </div>
</form>