<form action="/todos/{{{todo.id}}}/edit" method="post">
    <input type="text" name="name" value="{{{todo.name}}}">
    <form action="/todos/{{{todo.id}}}/delete" method="post">
        <button type="submit">edit</button>
    </form>
</form>