<form action="/todos/{{{todo.id}}}/edit?_method=PUT" method="post">
    <input type="checkbox" name="done" {{#if todo.done}}checked {{/if}}>
    <input type="text" name="name" value="{{{todo.name}}}">
    <button type="submit">edit</button>
</form>