<a href="/todos/new"> create </a>

<ul>
    {{#each todos}}
    <li>
        <h4>{{this.name}}</h4>
        <a href="">Detail</a>
        <a href="">Edit</a>
        <button type="submit">Delete</button>
    </li>
    {{/each}}
</ul>