<form action="/todos/new" method="POST">


</form>

<div class="input-group">

    <input type="text" name="todo" placeholder="請輸入代辦事項" class="form-control">
    <div class="input-group-append">
        <button type="submit" class="btn btn-success">新增代辦事項!</button>
    </div>
</div>